[submodule "roles/cryptshot/files/backitup"]
	path = roles/backitup/files/backitup
	url = https://github.com/pigmonkey/backitup
[submodule "roles/cryptshot/files/cryptshot"]
	path = roles/cryptshot/files/cryptshot
	url = https://github.com/pigmonkey/cryptshot
[submodule "library/ansible-aur"]
	path = library/ansible-aur
	url = git@github.com:pigmonkey/ansible-aur.git
